---
const items = [
  {
    title: "FTA Accreditation",
    img: "https://cdn.prod.website-files.com/69fda2cd307dcc6cf810e935/6a3a450de2e7d26264cc6391_logo-6.png",
  },
  {
    title: "Peppol Access Point",
    img: "https://cdn.prod.website-files.com/69fda2cd307dcc6cf810e935/6a3a44f0e2e7d26264cc5505_logo-2.png",
  },
  {
    title: "ZATCA Accreditation",
    img: "https://cdn.prod.website-files.com/69fda2cd307dcc6cf810e935/6a3a4506a290eecaf4b52d7f_logo-5.png",
  },
];
---

<section class="py-20 lg:py-25 bg-[#F3F1F9]">
  <div class="max-w-[1280px] mx-auto px-4 md:px-6">
    <div class="text-center mb-12">
      <h2
        class="text-[26px] md:text-[36px] lg:text-[44px] max-w-189 mx-auto font-semibold text-[#000000] leading-[1.18] m-0"
      >
        100+ clients in the EU.
        <span class="block text-[#655DFF]">5,000+ enterprises worldwide.</span>
      </h2>
      <p
        class="text-base md:text-[18px] text-[#000000]/80 mt-4 max-w-170 mx-auto leading-[1.5]"
      >
        From global conglomerates to EU-headquartered enterprises, finance teams
        trust ClearTax to keep them compliant, across every mandate, in every
        market.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
      {
        items.map((item) => (
          <div class="flex items-center bg-white py-6 rounded-[16px] flex flex-col gap-3">
            <div class="w-12 h-12 md:w-18 md:h-18 flex justify-center items-center">
              <img src={item.img} alt={item.title} />
            </div>

            <div>
              <h3 class="text-base font-normal text-[#000000] mb-2 leading-[1.44] m-0">
                {item.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
