<section class="bg-[#F3F1F9] py-12 lg:py-25">
  <div class="lg:container px-4 lg:px-6 mx-auto">
     <div class="max-w-156 w-full mx-auto flex items-center flex-col">
<span
          class="rounded-3xl py-2 px-4 leading-none bg-[linear-gradient(90deg,_rgba(144,_68,_169,_0.2)_0%,_rgba(184,_126,_200,_0.2)_100%)] text-[#9144AB] text-xs"
        >
          Compliance Risk
        </span>
      <h2
        class="mt-4 text-center font-semibold text-[26px] sm:text-[32px] lg:text-[44px] text-black leading-[1.18] text-balance max-w-135"
      >
        The Cost Of Missing<span class="text-[#655DFF] block"> The September Deadline.</span>
      </h2>
      <p class="text-center text-base lg:text-lg text-black/80 mt-4 leading-[1.44] max-w-[659px] w-full mx-auto">
         France's penalty regime escalates fast. Italy halved its VAT gap within two years of mandating e-invoicing — because enforcement followed immediately.
      </p>
    </div>
    <div class="mt-8 max-lg:md:mt-10 lg:mt-12  w-full gap-5 lg:gap-7 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      <!-- card-1 -->
      <div
        class="shadow-[2px_2px_6px_0px_#00000014] bg-white flex flex-col rounded-2xl p-4 max-lg:md:p-5 lg:p-6 min-w-[200px] "
      >
        <svg
          class="size-10 max-lg:md:size-12 lg:size-14 shrink-0"
          viewBox="0 0 56 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect class="size-14" rx="9.88235" fill="#F92B2E" fill-opacity="0.04"
          ></rect>
          <path
            d="M34.3343 14.0002H26.2016L27.9443 18.6475H32.5916L34.3343 14.0002Z"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M21.0515 40.8079L17.7763 42H14.0013V31.6284L17.2766 30.4362L21.0515 40.8079Z"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M20.6718 39.7651L17.6554 31.4777L20.2672 30.5272C21.2861 30.1563 22.3786 30.0331 23.4545 30.1677C24.5304 30.3023 25.5588 30.6909 26.4549 31.3014C27.2555 31.8469 28.163 32.216 29.1171 32.3843L31.4887 32.8024C32.4365 32.9695 33.0694 33.8734 32.9022 34.8213C32.7351 35.7692 31.8313 36.4021 30.8834 36.2349L25.342 35.2579"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M20.6732 39.7656L29.4868 40.9768C30.2053 41.0756 30.9368 40.9477 31.5792 40.611L40.9316 35.7095C41.7215 35.2955 42.0835 34.3609 41.7785 33.5228C41.4211 32.5409 40.2992 32.0762 39.3522 32.5177L32.4513 35.735"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M37.5203 33.3721C38.0707 32.6784 38.4003 31.8016 38.4003 30.8473V28.0476C38.4003 24.0671 36.1514 20.4283 32.5912 18.6482H27.9439C24.3837 20.4283 22.1348 24.0671 22.1348 28.0476V30.1327"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M32.1311 23.0813C32.1311 23.0813 30.9845 22.1175 29.6324 22.5248C28.3908 22.8988 28.2171 24.3304 29.1153 24.916C29.1153 24.916 29.9968 25.3092 30.9743 25.6698C33.3276 26.5378 32.3139 28.8145 30.4194 28.8145C29.4708 28.8145 28.6746 28.399 28.1927 27.8672"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <h4 class="font-medium text-[22px]  text-black mt-6 max-lg:md:mt-8 lg:mt-11">€50 Per non-compliant invoice</h4>
        <p class="text-base text-black/80 mt-2 md:mt-4">
         Applied to every invoice not transmitted through a DGFiP-approved PA. Capped at €15,000 per year — but volume compounds quickly at enterprise scale.
        </p>
      </div>
      <!-- card-2 -->
      <div
        class="shadow-[2px_2px_6px_0px_#00000014] bg-white flex flex-col rounded-2xl p-4 max-lg:md:p-5 lg:p-6 min-w-[200px]"
      >
        <svg
          class="size-10 max-lg:md:size-12 lg:size-14 shrink-0"
          viewBox="0 0 56 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect class="size-14" rx="9.88235" fill="#F92B2E" fill-opacity="0.04"
          ></rect>
          <path
            d="M33.1766 40.5552C31.8587 41.2859 29.6929 41.5 28 41.5C20.5441 41.4999 14.5 35.4558 14.5 28C14.5 20.5441 20.5441 14.5 28 14.5C35.4558 14.5 41.4999 20.5441 41.4999 28C41.4999 29.6075 41.107 31.4636 40.4765 33.0666"
            stroke="#F92B2E"
            stroke-width="1.7"
            stroke-miterlimit="10"></path>
          <path
            d="M27.9995 41.4999C24.1741 41.4999 21.0729 35.4558 21.0729 28C21.0729 20.5441 24.1741 14.5 27.9995 14.5C31.8248 14.5 34.926 20.5441 34.926 28C34.926 29.0727 34.8261 30.1447 34.6845 31.1156"
            stroke="#F92B2E"
            stroke-width="1.7"
            stroke-miterlimit="10"></path>
          <path
            d="M31.0403 34.9665C30.0092 35.1082 29.181 35.1419 28 35.1419C20.5441 35.1419 14.5 31.9443 14.5 28C14.5 24.0556 20.5441 20.8581 28 20.8581C35.4558 20.8581 41.4999 24.0556 41.4999 28H14.5244M28 14.5V41.4999"
            stroke="#F92B2E"
            stroke-width="1.7"
            stroke-miterlimit="10"></path>
          <path
            d="M36.1984 41.4991C39.1265 41.4991 41.5002 39.1254 41.5002 36.1973C41.5002 33.2692 39.1265 30.8955 36.1984 30.8955C33.2703 30.8955 30.8966 33.2692 30.8966 36.1973C30.8966 39.1254 33.2703 41.4991 36.1984 41.4991Z"
            stroke="#F92B2E"
            stroke-width="1.7"
            stroke-miterlimit="10"></path>
          <path
            d="M36.1983 33.0962V36.0913M36.1983 37.6069V39.3147"
            stroke="#F92B2E"
            stroke-width="1.7"
            stroke-miterlimit="10"></path>
        </svg>


        <h4 class="font-medium text-[22px] text-black mt-6 max-lg:md:mt-8 lg:mt-11">Audit exposure</h4>
        <p class="text-base text-black/80 mt-2 md:mt-4">
         Operational and reputational risk Non-compliance triggers DGFiP audit risk, payment delays from 
         buyers unable to receive e-invoices, 
         and reputational damage with French trading partners.
        </p>
      </div>
      <!-- card 3 -->
      <div
        class="shadow-[2px_2px_6px_0px_#00000014] bg-white flex flex-col rounded-2xl p-4 max-lg:md:p-5 lg:p-6 min-w-[200px]"
      >
        <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="56" height="56" rx="9.88235" fill="#F92B2E" fill-opacity="0.04"/>
<path d="M33.4557 22.8511C34.123 23.4609 34.8812 24.2249 35.6408 25.1359C36.9157 26.6669 37.9344 28.3027 38.6679 29.9908C39.5876 32.1155 40.0533 34.3335 40.0533 36.5804C40.0533 39.5668 37.6201 42 34.6338 42H21.4196C18.4333 42 16.0001 39.5668 16.0001 36.5804C16.0001 34.3335 16.4657 32.1155 17.3855 29.9908C18.119 28.3027 19.1319 26.6669 20.4126 25.1359C21.0588 24.3593 21.7551 23.6256 22.4968 22.9396" stroke="#F92B2E" stroke-width="2" stroke-miterlimit="10"/>
<path d="M23.4685 19.9285L21.3206 15.9442C21.1751 15.6707 21.2216 15.333 21.4487 15.1176C22.217 14.3667 23.032 14 23.9401 14C24.7726 14 25.5351 14.3143 26.1987 14.5937C26.7227 14.8091 27.2175 15.0187 27.6192 15.0187C27.7414 15.0187 27.8461 15.0012 27.9509 14.9604C29.3364 14.454 30.4017 14.1396 31.432 14.1396C32.736 14.1396 33.8478 14.6636 34.9364 15.7813C35.1634 16.0141 35.1984 16.3808 35.0179 16.6544L32.8509 19.9285" stroke="#F92B2E" stroke-width="2" stroke-miterlimit="10"/>
<path d="M33.8134 19.9285H22.2399C21.4083 19.9285 20.7343 20.6026 20.7343 21.4341C20.7343 22.2656 21.4083 22.9397 22.2399 22.9397H33.8134C34.6449 22.9397 35.319 22.2656 35.319 21.4341C35.319 20.6026 34.6449 19.9285 33.8134 19.9285Z" stroke="#F92B2E" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M26.3323 35.8533H28.0266C28.9624 35.8533 29.7209 35.0947 29.7209 34.159C29.7209 33.2233 28.9624 32.4647 28.0266 32.4647C27.0909 32.4647 26.3323 31.7062 26.3323 30.7705C26.3323 29.8347 27.0909 29.0762 28.0266 29.0762H29.7209" stroke="#F92B2E" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.0266 29.0762V27.188" stroke="#F92B2E" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M28.0266 37.7415V35.8533" stroke="#F92B2E" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>


        <h4 class="font-medium text-[22px] leading-[1.36] text-black mt-6 max-lg:md:mt-8 lg:mt-11">€500 Per e-reporting transmission </h4>
        <p class="text-base text-black/80 mt-2 md:mt-4">
          Penalty for each failed or incorrect submission of B2C and cross-border transaction data to DGFiP. Also capped at €15,000 per year.
        </p>
      </div>
    </div>
  </div>
</section>
