<section class="overflow-hidden max-md:py-12 max-lg:py-16 lg:py-25">
  <div class="max-w-[var(--container-max)] px-4 mx-auto">
    <div class="flex justify-between gap-10 items-center max-lg:flex-col">
      <div class="lg:max-w-139 w-full h-fit">
        <h2
          class="mx-auto font-nohemi leading-[1.18] max-md:text-[26px]! md:max-lg:text-4xl! lg:text-[44px]! font-semibold text-purple-100 max-lg:text-center max-lg:max-w-[85%]"
        >
          <span class="text-black">The filing risk isn't the gap.</span>
          It's the gap you didn't know about.
        </h2>
        <p
          class="max-lg:mt-3 lg:mt-4 text-black max-lg:text-base font-gilroy lg:text-lg font-medium w-full text-black/80 text-center"
        >
          Ask Recon AI directly about any discrepancy — it explains what caused
          it and tells you how to close it. No tickets, no reports, no waiting.
        </p>
      </div>
      <div class="lg:max-w-135 w-full aspect-540/400">
        <img
          src="https://cdn.prod.website-files.com/63ede4a3da6dbd6b05c4612f/6a06c129b278ae8c06e0ee40_chatbot.png"
          alt="icon"
          class="w-full h-full object-contain"
        />
      </div>
    </div>
  </div>
</section>
