<section
  class="hero-ss relative  overflow-hidden p-25   h-auto"
 
>
<div class="lg:container px-6 lg:px-4 mx-auto ">
<div class="flex justify-between gap-10 items-center">
<div class="max-w-139 w-full">
<h2 class="font-nohemi text-[44px] font-semibold text-[#655DFF]">
<span class="text-black">The filing risk isn't the gap.</span> 
  It's the gap you didn't know about.
</h2>
<p class="mt-4 text-black text-lg font-medium w-full">Ask Recon AI directly about any discrepancy — it explains
what caused it and tells you how to close it. No tickets, no reports,
no waiting.</p>

</div>
<div class="max-w-135 w-full aspect-[540/400]">
<img src='/images/racon-ai/chatbot.png' alt="icon" class="w-full h-full object-contain " /> 
</div>
</div>
</div>
</section>