<section
  class="hero-ss relative  overflow-hidden max-md:py-12 max-lg:py-16 lg:py-25 h-auto"
 
>
<div class="lg:container px-4 mx-auto ">
<div class="flex justify-between gap-10 items-center max-lg:flex-col ">
<div class="lg:max-w-139 w-full">
<h2 class="font-nohemi text-3xl md:max-lg:text-4xl lg:text-[44px] font-semibold text-[#655DFF]">
<span class="text-black">The filing risk isn't the gap.</span> 
  It's the gap you didn't know about.
</h2>
<p class="mt-4 text-black max-lg:text-base lg:text-lg font-medium w-full">Ask Recon AI directly about any discrepancy — it explains
what caused it and tells you how to close it. No tickets, no reports,
no waiting.</p>

</div>
<div class="lg:max-w-135 w-full aspect-540/400">
<img src='/images/racon-ai/chatbot.png' alt="icon" class="w-full h-full object-contain " /> 
</div>
</div>
</div>
</section>