<section
  class="hero-ss relative overflow-hidden pt-51 pb-[60px] max-lg:pt-[100px] max-md:pt-[96px] max-md:pb-[48px] bg-contain bg-cover md:bg-right lg:bg-center bg-no-repeat min-h-[896px] h-auto"
  style="background-image: url('/images/racon-ai/Background.png')"
>
<div class="w-[1440px] aspect-[1440/896] absolute inset-0 bg-[linear-gradient(111.72deg,_#FFFFFF_21.14%,_rgba(255,255,255,0.8)_44.46%,_rgba(255,255,255,0)_84.66%)]"
<div class="absolute w-[1440px] aspect-[1440/564]  bottom-[0%]">
<img src='/images/racon-ai/Bottom-shadow.png' alt="icon" class="w-full h-full" />
</div>
<div class="absolute w-86 aspect-[343/510] right-[10%] bottom-[15%]">
<img src='/images/racon-ai/Object.png' alt="icon" class="w-full h-full " /> 
</div>
  <div class=" z-10 mx-auto lg:container w-full px-4 md:px-6">
<span class="text-[#9144AB] text-xs px-3 py-2 rounded-3xl bg-[linear-gradient(90deg,_rgba(144,68,169,0.2)_0%,_rgba(184,126,200,0.2)_100%)] mb-4 font-gilroy relative z-10">Recon AI</span>

<div class="max-w-143.5 w-full mt-4">
<h1 class="text-2xl md:max-lg:text-[48px] lg:text-[56px] font-medium leading-[1.1] mb-6 text-recon-header font-nohemi relative z-10">
  Keeps your VAT position clean. Every day. Without being asked.
</h1>
<p class="w-full font-medium text-lg text-[#27127A] relative z-10">Most finance teams discover discrepancies during an audit. By then,
the penalty is already calculated. Recon AI catches every gap across sales and purchases before you file.
</p>
 <button class="bg-[linear-gradient(90deg,_#110072_0%,_#7A5698_100%)] py-4 px-12 rounded-[60px] text-base text-white mt-12  h-auto border-none relative z-10">
Talk to an expert 
</button>
</div>
  </div>
</section>