<section
  class="hero-ss relative overflow-hidden pt-[140px] pb-[60px] max-lg:pt-[100px] max-md:pt-[96px] max-md:pb-[48px] bg-cover bg-center md:bg-right lg:bg-center bg-no-repeat"
  style={{ backgroundImage: `url(/images/racon-ai/Background.png})` }}>

 <div
    class="relative z-10 mx-auto max-w-[1280px] w-full px-4 md:px-6"
  >
 </div>




</section>