<section class="max-md:pt-12 max-lg:pt-16 lg:pt-25 bg-[#F3F1F9]">
  <div class="max-w-[var(--container-max)] mx-auto px-4">
    <div class="max-w-158.5 w-full mb-12 mx-auto">
      <p
        class="font-nohemi text-xs! lg:text-[16px]! text-[#00000099] text-center mb-3"
      >
        See it in action
      </p>
      <h2
        class="font-nohemi max-md:text-[26px]! md:max-lg:text-4xl! lg:text-[44px]! font-semibold text-[#655DFF] text-center leading-[1.18]"
      >
        <span class="text-black">What VAT assurance looks</span>
        like in practice
      </h2>
      <p
        class="max-md:text-[16px]! md:text-[18px]! font-medium font-gilroy text-black/80 mt-4 text-center"
      >
        Watch how Recon AI catches what your team can't — and closes the gap
        before it becomes a liability.
      </p>
    </div>
  </div>
  <div
    class="max-lg:max-w-[95%] lg:max-w-272.5 w-full aspect-1090/464 mx-auto p-14 bg-[linear-gradient(180deg,rgba(121,39,193,0.4)_0%,rgba(4,6,50,0.4)_100%)] rounded-tl-2xl rounded-tr-2xl"
  >
  </div>
</section>

<style is:global>
  h2,
  p {
    font-size: inherit !important;
  }
</style>
