---
import '../styles/fonts.css';
import '../styles/shared.css';
import '../styles/global.css';
import NavbarGlobalV2 from '../sections/global/NavbarGlobalV2.astro';
import HeroGlobalV2 from '../sections/global/HeroGlobalV2.astro';
import SeamlessIntegration from '../sections/global/SeamlessIntegration.astro';
import TrustedLeadersV2 from '../sections/global/TrustedLeadersV2.astro';
import ContactGlobalV2 from '../sections/global/ContactGlobalV2.astro';
import Footer from '../sections/_shared/Footer.astro';
import Mandate from '../sections/global/Mandate.astro';
import LogosStripGlobalV2 from '../sections/global/LogosStripGlobalV2.astro';
import USPDarkV2 from '../sections/global/USPDarkV2.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ClearTax — Global E-Invoicing Compliance Platform</title>
    <meta name="description" content="Continuous compliance platform for global e-invoicing. Trusted by 5000+ enterprises. Scale, security and reliability for enterprise tax operations." />
    <meta content="noindex, nofollow" name="robots"/>
    <link rel="shortcut icon" type="image/png" href="https://cdn.prod.website-files.com/63ede4a3da6dbd6b05c4612f/63ede4a3da6dbd7162c46439_32by32.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.prod.website-files.com/63ede4a3da6dbd6b05c4612f/63ede4a3da6dbd7162c46439_32by32.png" />
    <link rel="icon" type="image/png" sizes="256x256" href="https://cdn.prod.website-files.com/63ede4a3da6dbd6b05c4612f/63ede4a3da6dbd8997c46450_256by256.png" />
    <link rel="apple-touch-icon" href="https://cdn.prod.website-files.com/63ede4a3da6dbd6b05c4612f/63ede4a3da6dbd8997c46450_256by256.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
  </head>
  <body class="font-[Inter,sans-serif]">
    <NavbarGlobalV2 />
    <HeroGlobalV2 />
    <LogosStripGlobalV2 />
    <USPDarkV2 />
    <!-- <ScaleStats /> -->
    <Mandate />
    <SeamlessIntegration />
    <TrustedLeadersV2 />
    <ContactGlobalV2 />
    <Footer />
  </body>
</html>
