---
import '../styles/.build/test.css';
import TestCascade from '../sections/_shared/TestCascade.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cascade Test</title>
  </head>
  <body>
    <TestCascade />
  </body>
</html>
