<section class="bg-[#F3F1F9] py-25">
    <div class="lg:container px-4">
        <h2 class="usp-section-header">ClearTax is a <span class="primary-text">Continuous Compliance Platform</span></h2>
    <p class="usp-subheader">Enterprise-grade infrastructure trusted by the world's largest organizations</p>
    </div>
</section>