<section class="bg-[#F3F1F9] py-16 max-lg:md:py-20 lg:py-25">
  <div class="lg:container px-4 lg:px-6 mx-auto">
    <div class="flex w-full justify-between lg:items-end gap-5 max-lg:flex-col">
      <!-- left side  -->
      <div class="max-w-144.5">
        <span
          class="rounded-3xl py-2 px-3 leading-none bg-[linear-gradient(90deg,_rgba(144,_68,_169,_0.2)_0%,_rgba(184,_126,_200,_0.2)_100%)] text-[#9144AB] text-xs font-semibold "
        >
          Why This Can't Wait
        </span>
        <h2
          class="mt-5 text-3xl max-lg:md:text-4xl lg:text-[44px] font-semibold leading-[1.18] text-black"
        >
          Non-Compliance Isn't A Technicality. It's A Financial And Legal
          Liability.
        </h2>
        <p class="text-base lg:text-lg mt-4 text-black/80">
          Germany’s e-invoicing mandate is already in motion. Delays can create
          compliance gaps, tax exposure, and costly last-minute system changes.
        </p>
      </div>
      <!-- right sde -->
      <div class="max-w-102 ">
        <p class="uppercase max-lg:md:text-base lg:text-lg">Penalties for non-compliance</p>
        <ul class="mt-4 max-lg:md:mt-5 lg:mt-6 flex flex-col gap-3">
          <li class="flex gap-3 md:gap-4 items-start">
            <svg
              class="size-4 shrink-0 mt-1"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.15999 7.44012C5.83999 7.12012 5.35999 7.12012 5.03999 7.44012C4.71999 7.76012 4.71999 8.24012 5.03999 8.56012L7.43999 10.9601C7.59999 11.1201 7.75999 11.2001 7.99999 11.2001C8.23999 11.2001 8.39999 11.1201 8.55999 10.9601L14.16 4.56012C14.4 4.16012 14.4 3.68012 14 3.44012C13.68 3.20012 13.2 3.20012 12.96 3.52012L7.99999 9.20012L6.15999 7.44012Z"
                fill="#F92B2E"></path>
              <path
                d="M15.2 7.2C14.72 7.2 14.4 7.52 14.4 8C14.4 11.52 11.52 14.4 8 14.4C4.48 14.4 1.6 11.52 1.6 8C1.6 6.32 2.24 4.72 3.44 3.52C4.64 2.24 6.24 1.6 8 1.6C8.48 1.6 9.04 1.68 9.52 1.76C9.92 1.92 10.4 1.68 10.56 1.2C10.72 0.72 10.4 0.4 10 0.24H9.92C9.28 0.08 8.64 0 8 0C3.6 0 0 3.6 0 8.08C0 10.16 0.88 12.24 2.32 13.68C3.84 15.2 5.84 16 7.92 16C12.32 16 15.92 12.4 15.92 8C16 7.52 15.6 7.2 15.2 7.2Z"
                fill="#F92B2E"></path>
            </svg>

            <p
              class="text-base lg:text-lg text-black leading-[1.44] opacity-80 my-auto"
            >
              Fines up to €5,000 per invoice
            </p>
          </li>
          <li class="flex gap-3 md:gap-4 items-start">
            <svg
              class="size-4 shrink-0 mt-1"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.15999 7.44012C5.83999 7.12012 5.35999 7.12012 5.03999 7.44012C4.71999 7.76012 4.71999 8.24012 5.03999 8.56012L7.43999 10.9601C7.59999 11.1201 7.75999 11.2001 7.99999 11.2001C8.23999 11.2001 8.39999 11.1201 8.55999 10.9601L14.16 4.56012C14.4 4.16012 14.4 3.68012 14 3.44012C13.68 3.20012 13.2 3.20012 12.96 3.52012L7.99999 9.20012L6.15999 7.44012Z"
                fill="#F92B2E"></path>
              <path
                d="M15.2 7.2C14.72 7.2 14.4 7.52 14.4 8C14.4 11.52 11.52 14.4 8 14.4C4.48 14.4 1.6 11.52 1.6 8C1.6 6.32 2.24 4.72 3.44 3.52C4.64 2.24 6.24 1.6 8 1.6C8.48 1.6 9.04 1.68 9.52 1.76C9.92 1.92 10.4 1.68 10.56 1.2C10.72 0.72 10.4 0.4 10 0.24H9.92C9.28 0.08 8.64 0 8 0C3.6 0 0 3.6 0 8.08C0 10.16 0.88 12.24 2.32 13.68C3.84 15.2 5.84 16 7.92 16C12.32 16 15.92 12.4 15.92 8C16 7.52 15.6 7.2 15.2 7.2Z"
                fill="#F92B2E"></path>
            </svg>

            <p
              class="text-base lg:text-lg text-black leading-[1.44] opacity-80 my-auto"
            >
              VAT input deduction denied for non-compliant invoices received
            </p>
          </li>
          <li class="flex gap-3 md:gap-4 items-start">
            <svg
              class="size-4 shrink-0 mt-1"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.15999 7.44012C5.83999 7.12012 5.35999 7.12012 5.03999 7.44012C4.71999 7.76012 4.71999 8.24012 5.03999 8.56012L7.43999 10.9601C7.59999 11.1201 7.75999 11.2001 7.99999 11.2001C8.23999 11.2001 8.39999 11.1201 8.55999 10.9601L14.16 4.56012C14.4 4.16012 14.4 3.68012 14 3.44012C13.68 3.20012 13.2 3.20012 12.96 3.52012L7.99999 9.20012L6.15999 7.44012Z"
                fill="#F92B2E"></path>
              <path
                d="M15.2 7.2C14.72 7.2 14.4 7.52 14.4 8C14.4 11.52 11.52 14.4 8 14.4C4.48 14.4 1.6 11.52 1.6 8C1.6 6.32 2.24 4.72 3.44 3.52C4.64 2.24 6.24 1.6 8 1.6C8.48 1.6 9.04 1.68 9.52 1.76C9.92 1.92 10.4 1.68 10.56 1.2C10.72 0.72 10.4 0.4 10 0.24H9.92C9.28 0.08 8.64 0 8 0C3.6 0 0 3.6 0 8.08C0 10.16 0.88 12.24 2.32 13.68C3.84 15.2 5.84 16 7.92 16C12.32 16 15.92 12.4 15.92 8C16 7.52 15.6 7.2 15.2 7.2Z"
                fill="#F92B2E"></path>
            </svg>

            <p
              class="text-base lg:text-lg text-black leading-[1.44] opacity-80"
            >
              Late interest at 6% p.a
            </p>
          </li>
          <li class="flex gap-3 md:gap-4 items-start">
            <svg
              class="size-4 shrink-0 mt-1"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.15999 7.44012C5.83999 7.12012 5.35999 7.12012 5.03999 7.44012C4.71999 7.76012 4.71999 8.24012 5.03999 8.56012L7.43999 10.9601C7.59999 11.1201 7.75999 11.2001 7.99999 11.2001C8.23999 11.2001 8.39999 11.1201 8.55999 10.9601L14.16 4.56012C14.4 4.16012 14.4 3.68012 14 3.44012C13.68 3.20012 13.2 3.20012 12.96 3.52012L7.99999 9.20012L6.15999 7.44012Z"
                fill="#F92B2E"></path>
              <path
                d="M15.2 7.2C14.72 7.2 14.4 7.52 14.4 8C14.4 11.52 11.52 14.4 8 14.4C4.48 14.4 1.6 11.52 1.6 8C1.6 6.32 2.24 4.72 3.44 3.52C4.64 2.24 6.24 1.6 8 1.6C8.48 1.6 9.04 1.68 9.52 1.76C9.92 1.92 10.4 1.68 10.56 1.2C10.72 0.72 10.4 0.4 10 0.24H9.92C9.28 0.08 8.64 0 8 0C3.6 0 0 3.6 0 8.08C0 10.16 0.88 12.24 2.32 13.68C3.84 15.2 5.84 16 7.92 16C12.32 16 15.92 12.4 15.92 8C16 7.52 15.6 7.2 15.2 7.2Z"
                fill="#F92B2E"></path>
            </svg>

            <p
              class="text-base lg:text-lg text-black leading-[1.44] opacity-80"
            >
              Daily failures compound into multi-million euro exposure.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-8 max-lg:md:mt-10 lg:mt-12  w-full gap-5 lg:gap-7 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      <!-- card-1 -->
      <div
        class="shadow-[2px_2px_6px_0px_#00000014] bg-white flex flex-col rounded-2xl p-4 max-lg:md:p-5 lg:p-6 min-w-[200px]"
      >
        <svg
          class="size-10 max-lg:md:size-12 lg:size-14 shrink-0"
          viewBox="0 0 56 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect class="size-14" rx="9.88235" fill="#F92B2E" fill-opacity="0.04"
          ></rect>
          <path
            d="M34.3343 14.0002H26.2016L27.9443 18.6475H32.5916L34.3343 14.0002Z"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M21.0515 40.8079L17.7763 42H14.0013V31.6284L17.2766 30.4362L21.0515 40.8079Z"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M20.6718 39.7651L17.6554 31.4777L20.2672 30.5272C21.2861 30.1563 22.3786 30.0331 23.4545 30.1677C24.5304 30.3023 25.5588 30.6909 26.4549 31.3014C27.2555 31.8469 28.163 32.216 29.1171 32.3843L31.4887 32.8024C32.4365 32.9695 33.0694 33.8734 32.9022 34.8213C32.7351 35.7692 31.8313 36.4021 30.8834 36.2349L25.342 35.2579"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M20.6732 39.7656L29.4868 40.9768C30.2053 41.0756 30.9368 40.9477 31.5792 40.611L40.9316 35.7095C41.7215 35.2955 42.0835 34.3609 41.7785 33.5228C41.4211 32.5409 40.2992 32.0762 39.3522 32.5177L32.4513 35.735"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M37.5203 33.3721C38.0707 32.6784 38.4003 31.8016 38.4003 30.8473V28.0476C38.4003 24.0671 36.1514 20.4283 32.5912 18.6482H27.9439C24.3837 20.4283 22.1348 24.0671 22.1348 28.0476V30.1327"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M32.1311 23.0813C32.1311 23.0813 30.9845 22.1175 29.6324 22.5248C28.3908 22.8988 28.2171 24.3304 29.1153 24.916C29.1153 24.916 29.9968 25.3092 30.9743 25.6698C33.3276 26.5378 32.3139 28.8145 30.4194 28.8145C29.4708 28.8145 28.6746 28.399 28.1927 27.8672"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <h4 class="font-medium text-xl lg:text-[22px] text-black mt-6 max-lg:md:mt-8 lg:mt-11">Penalty Risk</h4>
        <p class="text-sm md:text-base text-black/80 mt-4">
          Tax authorities cross-reference e-invoice data against VAT returns
          automatically. Mismatches surface as notices. Italy's VAT gap dropped
          from 20% to under 10% within two years of mandate launch. Germany will
          follow.
        </p>
      </div>
      <!-- card-2 -->
      <div
        class="shadow-[2px_2px_6px_0px_#00000014] bg-white flex flex-col rounded-2xl p-4 max-lg:md:p-5 lg:p-6 min-w-[200px]"
      >
        <svg
          class="size-10 max-lg:md:size-12 lg:size-14 shrink-0"
          viewBox="0 0 56 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect class="size-14 shrink-0" rx="9.88235" fill="#F92B2E" fill-opacity="0.04"
          ></rect>
          <path
            d="M29.4171 19.1293L35.3067 29.8041C35.9017 30.8827 35.1215 32.2041 33.8898 32.2041H22.1106C20.8789 32.2041 20.0987 30.8827 20.6938 29.8041L26.5833 19.1293C27.1987 18.014 28.8018 18.014 29.4171 19.1293Z"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M28.0002 26.271V22.7648"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M17.158 15H38.8423C40.0339 15 40.9999 15.966 40.9999 17.1576V33.3399C40.9999 34.5315 40.0339 35.4976 38.8423 35.4976H17.158C15.9663 35.4976 15.0004 34.5315 15.0004 33.3399V17.1576C15.0004 15.966 15.9663 15 17.158 15Z"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M31.2361 36.2023V35.497H24.7632V36.2023C24.7632 36.631 24.6347 37.0499 24.3943 37.405C24.1539 37.76 23.8127 38.0349 23.4146 38.1941C23.0165 38.3533 22.6753 38.6282 22.4349 38.9832C22.1945 39.3382 22.0661 39.7572 22.0661 40.1859V40.999H33.9331V40.1859C33.9331 39.3087 33.3991 38.5198 32.5846 38.1941C32.1865 38.0349 31.8453 37.76 31.6049 37.405C31.3645 37.0499 31.2361 36.631 31.2361 36.2023Z"
            stroke="#F92B2E"
            stroke-width="1.8"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M28.0917 28.9673C28.0915 28.9175 28.0507 28.8767 28.0009 28.8765C27.9634 28.8765 27.9308 28.8997 27.9169 28.9321L27.9091 28.9673C27.9091 29.0175 27.9507 29.0591 28.0009 29.0591L28.0361 29.0513C28.0685 29.0374 28.0917 29.0048 28.0917 28.9673Z"
            fill="#F92B2E"
            stroke="#F92B2E"
            stroke-width="1.8"></path>
        </svg>

        <h4 class="font-medium text-xl lg:text-[22px] text-black mt-6 max-lg:md:mt-8 lg:mt-11">Technology Risk</h4>
        <p class="text-sm md:text-base text-black/80 mt-2 md:mt-4">
          E-invoicing regulations change constantly after go-live, Italy
          recorded 50+ post-launch changes. Without a purpose-built platform,
          every regulatory update consumes IT bandwidth & creates fragile,
          patchwork architecture.
        </p>
      </div>
      <!-- card 3 -->
      <div
        class="shadow-[2px_2px_6px_0px_#00000014] bg-white flex flex-col rounded-2xl p-4 max-lg:md:p-5 lg:p-6 min-w-[200px]"
      >
        <svg
          class="size-10 max-lg:md:size-12 lg:size-14 shrink-0"
          viewBox="0 0 56 56"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect class="size-14" rx="9.88235" fill="#F92B2E" fill-opacity="0.04"
          ></rect>
          <path
            d="M33.1766 40.5552C31.8587 41.2859 29.6929 41.5 28 41.5C20.5441 41.4999 14.5 35.4558 14.5 28C14.5 20.5441 20.5441 14.5 28 14.5C35.4558 14.5 41.4999 20.5441 41.4999 28C41.4999 29.6075 41.107 31.4636 40.4765 33.0666"
            stroke="#F92B2E"
            stroke-width="1.7"
            stroke-miterlimit="10"></path>
          <path
            d="M27.9995 41.4999C24.1741 41.4999 21.0729 35.4558 21.0729 28C21.0729 20.5441 24.1741 14.5 27.9995 14.5C31.8248 14.5 34.926 20.5441 34.926 28C34.926 29.0727 34.8261 30.1447 34.6845 31.1156"
            stroke="#F92B2E"
            stroke-width="1.7"
            stroke-miterlimit="10"></path>
          <path
            d="M31.0403 34.9665C30.0092 35.1082 29.181 35.1419 28 35.1419C20.5441 35.1419 14.5 31.9443 14.5 28C14.5 24.0556 20.5441 20.8581 28 20.8581C35.4558 20.8581 41.4999 24.0556 41.4999 28H14.5244M28 14.5V41.4999"
            stroke="#F92B2E"
            stroke-width="1.7"
            stroke-miterlimit="10"></path>
          <path
            d="M36.1984 41.4991C39.1265 41.4991 41.5002 39.1254 41.5002 36.1973C41.5002 33.2692 39.1265 30.8955 36.1984 30.8955C33.2703 30.8955 30.8966 33.2692 30.8966 36.1973C30.8966 39.1254 33.2703 41.4991 36.1984 41.4991Z"
            stroke="#F92B2E"
            stroke-width="1.7"
            stroke-miterlimit="10"></path>
          <path
            d="M36.1983 33.0962V36.0913M36.1983 37.6069V39.3147"
            stroke="#F92B2E"
            stroke-width="1.7"
            stroke-miterlimit="10"></path>
        </svg>

        <h4 class="font-medium text-xl lg:text-[22px] text-black mt-6 max-lg:md:mt-8 lg:mt-11">Scale Risk</h4>
        <p class="text-sm md:text-base text-black/80 mt-2 md:mt-4">
          Each new country mandate multiplies complexity. Building one-off integrations per market 
          creates high development costs, manual workarounds, and systems that can't scale. Germany is 
          just the start.
        </p>
      </div>
    </div>
  </div>
</section>
