<section class="bg-[#F3F1F9] py-12 lg:py-25">
  <div class="lg:container px-4 lg:px-6 mx-auto">
    <div class="max-w-[757px] w-full mx-auto ">
      <h2
        class="text-center font-semibold text-[26px] sm:text-[32px] lg:text-[44px] text-black leading-[1.18] text-balance"
      >
        100+ Clients In The EU.<span class="text-[#655DFF] block"> 5,000+ Enterprises Worldwide.</span>
      </h2>
      <p class="text-center text-base lg:text-lg text-black/80 mt-4 leading-[1.44] max-w-[659px] w-full mx-auto">
        From global conglomerates to EU-headquartered enterprises, finance teams
        trust ClearTax to keep them compliant across every mandate, in every
        market.
      </p>
    </div>
    <div
      class="mt-12 grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 justify-between gap-5"
    >
      <!-- card 1 -->
      <div
        class="bg-white rounded-2xl py-6.25 px-4 max-xl:lg:px-6 xl:px-8 flex flex-col items-center tracking-[-0.5px]"
      >
        <div class="min-h-12 md:min-h-15 lg:min-h-17.5 flex items-center justify-center">
          <img src='https://cdn.prod.website-files.com/69fda2cd307dcc6cf810e935/6a2121c330f087004dea4172_trust-icon1.png' class="size-12 max-lg:md:size-15 lg:size-17.5" alt='icon' loading="lazy" decoding="async" />
        </div>
        <p class="mt-4 text-base text-black text-center leading-normal">
          Certified & BIS Billing 3.0 Compliant
        </p>
      </div>
      <!-- card 2 -->
      <div
        class="bg-white rounded-2xl py-6.25 px-4 max-xl:lg:px-6 xl:px-8 flex flex-col items-center tracking-[-0.5px]"
      >
        <div class="min-h-12 md:min-h-15 lg:min-h-17.5 flex items-center justify-center">
          <img src='https://cdn.prod.website-files.com/69fda2cd307dcc6cf810e935/6a2121c3fd50ae6e8f905ee9_trust-icon2.png' class="size-12 max-lg:md:size-15 lg:size-17" alt='icon' loading="lazy" decoding="async" />
        </div>
        <p class="mt-4 text-base text-black text-center leading-normal">SOC Compliant</p>
      </div>
      <!-- card 3 -->
      <div
        class="bg-white rounded-2xl py-6.25 px-4 max-xl:lg:px-6 xl:px-8 flex flex-col items-center tracking-[-0.5px]"
      >
        <div class="min-h-12 md:min-h-15 lg:min-h-17.5 flex items-center justify-center">
                    <img src='https://cdn.prod.website-files.com/69fda2cd307dcc6cf810e935/6a2121c37f07b41d3d0c7d12_trust-icon3.png'  class="w-24 max-lg:md:w-30 lg:w-37.5 aspect-150/61 my-auto" alt='icon' loading="lazy" decoding="async" />
        </div>

        <p class="mt-4 text-base text-black text-center leading-normal">CISM Certified</p>
      </div>
      <!-- card 4 -->
      <div
        class="bg-white rounded-2xl py-6.25 px-4 max-xl:lg:px-6 xl:px-8 flex flex-col items-center tracking-[-0.5px]"
      >
        <div class="h-12 md:min-h-15 lg:min-h-17.5 flex items-center justify-center">
                    <img src='https://cdn.prod.website-files.com/69fda2cd307dcc6cf810e935/6a2121c349647b450a68800e_trust-icon4.png' class="w-16 max-lg:md:w-18 lg:w-23 aspect-93/40" alt='icon' loading="lazy" decoding="async" />
        </div>
        <p class="mt-4 text-base text-black text-center leading-normal">Germany Listed</p>
      </div>
    </div>
  </div>
</section>
