<section class="bg-[#F3F1F9] py-12 lg:py-25">
  <div class="lg:container px-4 lg:px-6 mx-auto">
    <div class="max-w-[659px] w-full mx-auto ">
      <h2
        class="max-w-160 text-center font-semibold text-[26px] sm:text-[32px] lg:text-[44px] text-black leading-[1.18]"
      >
        100+ Clients In The EU.<span class="text-[#655DFF] block lg:w-[102%]"> 5,000+ Enterprises Worldwide.</span>
      </h2>
      <p class="text-center text-lg text-black opacity-80 mt-4 leading-[1.44] ">
        From global conglomerates to EU-headquartered enterprises, finance teams
        trust ClearTax to keep them compliant — across every mandate, in every
        market.
      </p>
    </div>
    <div
      class="mt-12 grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 justify-between gap-5"
    >
      <!-- card 1 -->
      <div
        class="bg-white rounded-2xl py-6.25 px-4 max-xl:lg:px-6 xl:px-8 flex flex-col items-center tracking-[-0.5px]"
      >
        <div class="min-h-12 md:min-h-15 lg:min-h-17.5">
          <img src='/images/germany-product/trust-icon1.png' class="size-12 max-lg:md:size-15 lg:size-17.5" alt='icon' />
        </div>
        <p class="mt-4 text-base text-black text-center">
          Certified & BIS Billing 3.0 Compliant
        </p>
      </div>
      <!-- card 2 -->
      <div
        class="bg-white rounded-2xl py-6.25 px-4 max-xl:lg:px-6 xl:px-8 flex flex-col items-center tracking-[-0.5px]"
      >
        <div class="min-h-12 md:min-h-15 lg:min-h-17.5">
          <img src='/images/germany-product/trust-icon2.png' class="size-12 max-lg:md:size-15 lg:size-17" alt='icon' />
        </div>
        <p class="mt-4 text-base text-black text-center">SOC Compliant</p>
      </div>
      <!-- card 3 -->
      <div
        class="bg-white rounded-2xl py-6.25 px-4 max-xl:lg:px-6 xl:px-8 flex flex-col items-center tracking-[-0.5px]"
      >
        <div class="min-h-12 md:min-h-15 lg:min-h-17.5">
                    <img src='/images/germany-product/trust-icon3.png'  class="w-24 max-lg:md:w-30 lg:w-37.5 aspect-150/61 my-auto" alt='icon' />
        </div>

        <p class="mt-4 text-base text-black text-center">CISM Certified</p>
      </div>
      <!-- card 4 -->
      <div
        class="bg-white rounded-2xl py-6.25 px-4 max-xl:lg:px-6 xl:px-8 flex flex-col items-center tracking-[-0.5px]"
      >
        <div class="h-12 md:min-h-15 lg:min-h-17.5">
                    <img src='/images/germany-product/trust-icon4.png' class="w-16 max-lg:md:w-18 lg:w-23 aspect-93/40" alt='icon' />
        </div>
        <p class="mt-4 text-base text-black text-center">Germany Listed</p>
      </div>
    </div>
  </div>
</section>
